{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}WEEKLY GIVEAWAY{% endblock %}

{% block content %}

<section class="text-center mt-4">
  <h2 class="mb-5 font-weight-bold" style="color: green;">WEEKLY PRAYERS AND MOTIVATIONS</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                  <p class="grey-text">Please Kindly Follwoing Instruction Below</p>
                </div>
              </div>
                <form action="{% url 'church:GiveAway' %}" method="post">
              <div class="form-group">

<div class="text-center ">

                  {% csrf_token %}
    <div class="col-md-12">
    <div class="row">
    {% for GiveAway2 in GiveAway %}
    <div class="container">
      <img class="card-img-top" src="{{GiveAway2.image.url}}" alt="Card image cap">
      <h3 class="card-title" style="color:blue"><b>&#128576;{{GiveAway2.title}}</b></h3>
      <div class="card-body">
        <h5 class="card-text" style="color:black; text-align: left"><b>&#128591;{{GiveAway2.body}}</b></h5>
        </div>
        <a href="https://chat.whatsapp.com/LIvXL8ho0yLANQIY8RmFPU" type="button" class="btn btn-outline-success">WhatsApp</a><br><br>
        
      <div class="card-footer text-muted">
        Posted on {{GiveAway2.created_on}} by
        <a href="GiveAway">{{GiveAway2.writer}}</a>
      </div>  
    </div>
    {% endfor %}

            

    
</section>

<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="#">&#x2B06; Go Up</a><br>
  </li>
</ul>
{%endblock%}

