{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}CAC DCC OJO/AWORI YEARLY PROGRAM{% endblock %}

{% block content %}

<section class="text-center mt-4">
  <h2 class="mb-5 font-weight-bold" style="color: green;">DCC YEARLY PROGRAM</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                  <p class="grey-text">please kindly read through to Know the YEARLY PROGRAMS UNDER C.A.C OJO/AWORI</p>
                </div>
              </div>
                <form action="{% url 'church:Program' %}" method="post">
              <div class="form-group">


                  {% csrf_token %}
                <div class="col-md-12">
                    <div class="row">
    {% for love2 in love %}
    <div class="container">
        <h2 class="card-title" style="color:blue"><b>{{love2.name}}</b></h2>
      <img class="card-img-top" src="{{love2.image.url}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title" style="color:red"><b>{{teachs2.title}}</b></h2>
        <p class="card-text" style="text-align: justify">{{love2.body}}</p>
        <p class="card-text" style="text-align: justify">{{love2.body2}}</p>
      </div>
      <div class="card-footer text-muted">
        Posted on {{love2.created_on}} by
        <a href="Program">{{teachs.writer}}</a>
      </div>
    </div>
    {% endfor %}

            

    
</section>

<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="#">&#x2B06; Go Up</a><br>
  </li>
</ul>
{%endblock%}

