{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Upcoming Events{% endblock %}

{% block content %}

<section class="text-center mt-4">
  <h2 class="mb-5 font-weight-bold" style="color:#ff5722;">UPCOMING EVENTS IN C.A.C OJO/AWORI DCC</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                  <p class="grey-text">please kindly read through to Know the Upcoming Events In OJO/AWORI</p>
                </div>
              </div>
                <form action="{% url 'Events' %}" method="post">
              <div class="form-group">


                  {% csrf_token %}
                <div class="col-md-12">
                    <div class="row">
    {% for posts2 in post2 %}
    <div class="container">
      <img class="card-img-top" src="{{posts2.image.url}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title" style="color:blue"><b>{{posts2.title}}</b></h2>
        <p class="card-text" style="text-align: justify">{{posts2.body}}</p>
      </div>
      <div class="card-footer text-muted">
        Posted on {{posts2.created_on}} by
        <a href="Events">{{posts2.writer}}</a>
      </div>
    </div>
    {% endfor %}

            

    
</section>

<ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="#">&larr; Go Up</a><br>
  </li>
</ul>
{%endblock%}

